body {
  min-width: 980px;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.navbar {
  height: 30px;
  padding-top: 20px;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
  opacity: .75;
}

a:hover {
  text-decoration: underline;
}

.toplinks {
  display: block;
  float: right;
  min-width: 300px;
}

a.google-notifications {
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
  background-position: -194px -21px;
  height: 30px;
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

a.google-apps {
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

a.google-account {
  background-image: url("https://www.freedigitalphotos.net/images/previews/silhouette-girl-standing-10093771.jpg");
  background-position: -7px 0px;
  background-size: 180%;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  float: right;
}

.images {
  padding-left: 15px;
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
}

.gmail {
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
}

.google-services {
  display: inline-block;
  min-width: 120px;
  float: right;
  padding-right: 25px;
}
